{
  "sections": {
    "mysql_shared": {
      "host": "<SHARED_MYSQL_HOST>",
      "port": "3306",
      "user": "<USER>",
      "password": "<PASSWORD>",
      "database": "<SHARED_DB_NAME>"
    }
  },
  "redis": {
    "host": "<SHARED_REDIS_HOST>",
    "port": 6379,
    "db": 0,
    "password": ""
  }
}
